@font-face {
    font-family: 'AGRevueCyr-Roman';
    src: url('../../AGRevueCyrRomanMedium.woff2') format('woff2'),
    url('../../AGRevueCyrRomanMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AGRevueCyr-Roman';
    src: url('../../AGRevueCyrRomanMedium.woff2') format('woff2'),
    url('../../AGRevueCyrRomanMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
body{
    color: #1A98FF;
    background-color: #101010;
}
#Switch{
    font-family: AGRevueCyr-Roman;
    background-color: #101010;
    color: #1A98FF;
    border: 0;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 35px;
    margin-bottom: 75px;
}
#Switch:hover{
    background-color: #E50913;
    color: #101010;
}
#Donate{
    font-family: "serif";
    background-color: #1A98FF;
    color: whitesmoke;
    font-size: 20px;
    margin-left: 735px;
    padding-left: 20px;
    padding-right: 20px;
}
#Donate:hover{
    background-color: whitesmoke;
    color: #1A98FF;
}
#LogIn{
    font-family: "serif";
    background-color: whitesmoke;
    color: #101010;
    font-size: 20px;
    border-color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
}
#LogIn:hover{
    background-color: #101010;
    color: whitesmoke;
}
#SignUp{
    font-family: "serif";
    background-color: #1A98FF;
    color: whitesmoke;
    font-size: 20px;
    border-color: #1A98FF;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
}
#SignUp:hover{
    background-color: whitesmoke;
    color: #1A98FF;
}
#showTitle{
    font-family: "Bebas Neue", serif;
    font-size: 50px;
    padding-left: 65px;
}
#imageLink{
    padding-left: 65px;
}
#TRISS{
    display: flex;
    position: static;
}
#Score{
    margin-left: 100px;
    font-size: 45px;
    background-color: #1A98FF;
    color: whitesmoke;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Bebas Neue";
}
#Rank{
    margin-right: 125px;
    font-size: 45px;
    font-family: "Bebas Neue";
    padding-left: 10px;
    padding-right: 10px;
    background-color: #1A98FF;
    color: whitesmoke;
    border: 0;
}
#showScore{
    margin-left: 130px;
    font-size: 45px;
    font-family: "Bebas Neue";
    color: whitesmoke;
    line-height: 0px;
}
#showRank{
    font-size: 45px;
    font-family: "Bebas Neue";
    color: whitesmoke;
    margin-left: 10px;
    line-height: 0px;
}
#trailer{
    margin-right: 65px;
}
#showSynopsis{
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 100px;
    font-size: 45px;
    font-family: "Bebas Neue";
    padding-left: 10px;
    padding-right: 10px;
    background-color: #1A98FF;
    color: whitesmoke;
    border: 0;
}
#synopsis{
    color: whitesmoke;
    font-family: "serif";
    margin-left: 100px;
}
#Length{
    font-size: 20px;
    font-family: "Bebas Neue";
    margin-top: 25px;
    margin-left: 65px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: whitesmoke;
    color: #101010;
    border: 0;
}
#showLength{
    margin-top: 25px;
    margin-left: 15px;
    font-size: 20px;
    color: whitesmoke;
    font-family: "serif";
}
#LengthAlign{
    display: flex;
}
#Year{
    font-size: 20px;
    font-family: "Bebas Neue";
    margin-top: 25px;
    margin-left: 65px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: whitesmoke;
    color: #101010;
    border: 0;
}
#YearAlign{
    display: flex;
}
#showYear{
    margin-top: 25px;
    margin-left: 15px;
    font-size: 20px;
    color: whitesmoke;
    font-family: "serif";
}
#Rating{
    font-size: 20px;
    font-family: "Bebas Neue";
    margin-top: 25px;
    margin-left: 65px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: whitesmoke;
    color: #101010;
    border: 0;
}
#RatingAlign{
    display: flex;
}
#showRating{
    margin-top: 25px;
    margin-left: 15px;
    font-size: 20px;
    color: whitesmoke;
    font-family: "serif";
}
#Genres{
    font-size: 20px;
    font-family: "Bebas Neue";
    margin-top: 25px;
    margin-left: 65px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: whitesmoke;
    color: #101010;
    border: 0;
}
#GenreAlign{
    display: flex;
}
#genreOne{
    margin-top: 25px;
    margin-left: 15px;
    font-size: 20px;
    color: whitesmoke;
    font-family: "serif";
}
#genreTwo{
    margin-top: 25px;
    margin-left: 15px;
    font-size: 20px;
    color: whitesmoke;
    font-family: "serif";
}
#GenreComma{
    margin-top: 45px;
    margin-left: 3px;
    font-size: 20px;
    color: whitesmoke;
    font-family: "serif";
}
#languageButton{
    font-size: 20px;
    font-family: "Bebas Neue";
    margin-top: 25px;
    margin-left: 65px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: whitesmoke;
    color: #101010;
    border: 0;
}
#LanguageAlign{
    display: flex;
}
#language{
    margin-top: 25px;
    margin-left: 15px;
    font-size: 20px;
    color: whitesmoke;
    font-family: "serif";
}
#info{
    display: flex;
}
#infoTwo{
    padding-left: 325px;
}
#category{
    padding-bottom: 30px;
}
#searchBar{
    height: 41px;
    width: 377px;
    background-color: #101010;
    border-color: #1A98FF;
    color: whitesmoke;
}
#magGlass{
    margin-top: 12px;
    margin-left: -30px;
    color: whitesmoke;
}
#search{
    display: flex;
}
#dropContent{
    display: flex;
}
.dropRank, .dropScore, .dropYear {
    background-color: #101010;
    color: whitesmoke;
    border-color: #1A98FF;
    font-family: serif;
    font-size: 30px;
    padding-left: 80px;
    padding-right: 80px;
}
.RankDrop, .ScoreDrop, .YearDrop {
    position: relative;
    display: inline-block;
}
.dropRankContent, .dropScoreContent, .dropYearContent{
    display: none;
    position: absolute;
    background-color: whitesmoke;
}
.dropRankContent a{
    color: #101010;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    display: block;
    padding-left: 91.5px;
    padding-right: 91.5px;
}
.dropRankContent{
    margin-left: 20px;
}
.dropScoreContent a{
    color: #101010;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    display: block;
    padding-left: 96.5px;
    padding-right: 96.5px;
}
.dropYearContent a{
    color: #101010;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    display: block;
    padding-left: 80px;
    padding-right: 80px;
}
.dropRankContent a:hover, .dropScoreContent a:hover, .dropYearContent a:hover {
    background-color: #1A98FF;
    color: whitesmoke;

}
.RankDrop:hover .dropRankContent {display: block;}
.ScoreDrop:hover .dropScoreContent {display: block;}
.YearDrop:hover .dropYearContent {display: block;}
.RankDrop:hover .dropRank {background-color: #1A98FF;}
.ScoreDrop:hover .dropScore {background-color: #1A98FF;}
.YearDrop:hover .dropYear {background-color: #1A98FF;}
#dropSearch{
    display: flex;
    padding-bottom: 50px;
}
.dropRank{
    margin-left: 20px;
}
.dropYear{
    margin-right: 20px;
}
#headButtons{
    padding-bottom: 75px;
}
.user-cards{
    margin-left: 855px;
    margin-top: -49px;
    position: absolute;
}
.card{
    display: none;
    border-bottom: 1px solid #101010;
    width: 375px;
    height: 80px;
    background-color: whitesmoke;
    color: #101010;
}
.showName{
    margin-top: 5px;
    margin-left: 5px;
    font-family: "serif";
    font-size: 15px;
    text-align: left;
}
.showRank{
    font-family: "serif";
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
}
.showImg{
    margin-top: 2px;
    margin-left: 2px;
}
.hide{
    display: none;
}
.show{
    display: flex;
}
.card:hover {
    background-color: #1A98FF;
    color: whitesmoke;
}